
*.idea/

compare-cpp/build_debug/
compare-cpp/build_release/

*.pclprof

*pycache*

data/*
!data/urdfs
!data/current.json
!data/uc1_ur10_collision.zip
!data/uc6_ur10_collision.zip

venv/*
results/*
results-archive/*

results.zip
